:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

/* colors i added */

  --color-yellow: #FDC913;
  --color-light-gray: #5F5F5F;
  --color-dark-gray: #292929;
  --color-red: #CE2829;
  --color-beige: #FAF7F2;
}

/* fonts i added */

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-regular {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-bold {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}



body {
  color: white;
}

/* header kısmı */

.header-container {
  background: url(assets/iteration-1/home-banner.png);
  width: 100;
  height: 1080px;
}

.header-contains {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}

.header-contains h1 {
  font-size: 60px;
  letter-spacing: 0.4rem;
  font-weight: lighter;
  text-align: center;
}

.header-contains h2 {
  margin-bottom: 30px;
  font-family: Barlow;
  font-size: 40px;
}

.header-contains p {
  font-size: 30px;
  color: var(--color-yellow);
  font-family: Satisfy;
  margin-top: 40px
}

.header-contains h1 {
  font-family: 'Roboto Condensed';
  font-size: 80px;
  font-weight: 250;
  letter-spacing: 0.3rem;
}

.primary-button {
  background-color: var(--color-yellow);
  color: var(--color-dark-gray);
  border-radius: 2rem;
  font-size: 1.1rem;
  border: 0;
  font-weight: bold;
  padding: 0.8rem 3.5rem;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  font-family: "Roboto Condensed";
}

.primary-button:hover {
  opacity: 0.7;
  background-color: var(--color-light-gray);
}



.buttons {
  background: white;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.food-button {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-family: "Roboto Condensed";
  padding-left: 1rem;
  padding-right: 1rem;
}



.cards {
  background-color: var(--color-beige);
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 50px;
}

.card1 {
  position: relative;
  display: flex;
  border-radius: 5rem;
}

.card1-contains {
  position: absolute;
  top: 30px;
  left: 30px;
}

.card1-contains h2 {
  font-size: 60px;
  font-family: Quattrocento;
}

.card1-contains p {
  font-size: 18px;
}

.card-button {
  background-color: white;
  color: var(--color-red);
  font-size: medium;
  padding: 0.8rem 1.5rem;
  font-family: "Roboto Condensed";
}



.card2-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card2 {
  position: relative;
  display: flex;
}

.card2-contains {
  position: absolute;
  top: 30px;
  left: 30px;
}

.card2-contains h2 {
  font-size: 30px;
}



.card3 {
  position: relative;
  display: flex;
}

.card3-contains {
  position: absolute;
  top: 30px;
  left: 30px;
}

.card3-contains h2 {
  color: var(--color-dark-gray);
  font-size: 30px;
}

.card1 img, .card2 img, .card3 img {
  border-radius: 0.8rem;
}


/* bottom section */

.bottom-section {
  background-color: var(--color-beige);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  gap: 5px;
  padding-bottom: 30px;
}

.bottom-section p {
  color: var(--color-red);
  font-style: italic;
  font-family: Satisfy;
  font-size: 30px;
}

.bottom-section h2 {
  color: var(--color-dark-gray);
  font-family: 'Barlow';
  font-size: 40px;
  font-weight: 600;
}

.buttons2 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 2rem;
}



.bottom-section2 {
  background-color: var(--color-beige);
}

.foods {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 20px;
}

.food {
  background-color: white;
  border-radius: 0.5rem;
  text-align: left;
  padding: 40px;

  p {
    font-size: 22px;
  }
}

.p-text {
  color: var(--color-light-gray);
  font-weight: bold;
  position: absolute;
}

.text {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  gap: 40px;
  position: relative;
  margin-top: 5px;
}


/* footer */

footer {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  flex-direction: column;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 170px;
  padding-bottom: 30px;
}

footer .end {
  display: flex;
  justify-content: space-around;
  border-top: solid 1px var(--color-light-gray);
  padding: 30px 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.right-side {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.images {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 350px;
  margin-top: 35px;
}

.ul-list {
  margin-top: 40px;
}

.footer-titles {
  font-weight: bold;
  font-size: 20px;
}

.middle-side {
  margin: 40px 0 20px 0;
}

.p-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 35px;
}



@media only screen and (max-width: 500px) {
  body {
    min-width: 300px;
  }

  .buttons {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .buttons2 {
    flex-direction: column;
  }

  .foods {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }




}















/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
